@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase

@inject IStringLocalizer<MainLayout> Localizer
<PageTitle>@PageTitle</PageTitle>
<BootstrapBlazorRoot>
    <Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true" AdditionalAssemblies="new[] { GetType().Assembly }"
            ShowFooter="true" ShowCollapseBar="true" OnCollapsed="@OnCollapsed" Menus="MenuItems" OnClickMenu="OnClickMenu">
        <Header>
            <span class="ms-3 flex-sm-fill d-none d-sm-block">JxAudio</span>
            <div class="flex-fill d-sm-none">
            </div>
            <CultureChooser></CultureChooser>
            <Logout ImageUrl="/images/" UserName="Admin" DisplayName="Admin">
                <LinkTemplate>
                    <LogoutLink Url="/Admin/Logout"></LogoutLink>
                </LinkTemplate>
            </Logout>
        </Header>
        <Side>
            <div class="layout-banner">
                <img alt="logo" class="layout-logo" src="_content/BootstrapBlazor.Shared/images/brand.png" />
                <div class="layout-title">
                    <span>JxAudio</span>
                </div>
            </div>
        </Side>
        <Main>
            <CascadingValue Value="this" IsFixed="true">
                @Body
            </CascadingValue>
        </Main>
    </Layout>
    
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

</BootstrapBlazorRoot>

@code
{
    /// <summary>
    ///获得/设置 是否收缩侧边栏
    /// </summary>
    public bool IsCollapsed { get; set; }

    private string? PageTitle { get; set; }
    
    private List<MenuItem>? MenuItems { get; set; }

    private Task OnCollapsed(bool collapsed)
    {
        IsCollapsed = collapsed;
        return Task.CompletedTask;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MenuItems = new List<MenuItem>
        {
            new() { Text = Localizer["Home"], Icon = "fa fa-fw fa-home", Url = "/Admin", Match = NavLinkMatch.All} ,
            new() { Text = Localizer["Folder"], Icon = "fa fa-fw fa-home", Url = "/Admin/FolderSelect", Match = NavLinkMatch.All} ,
            new() { Text = Localizer["Music"], Icon = "fa fa-fw fa-home", Url = "/Admin/MusicManager", Match = NavLinkMatch.All } 
        };
    }

    private Task OnClickMenu(MenuItem arg)
    {
        PageTitle = arg.Text + " - JXAudio";
        StateHasChanged();
        return Task.CompletedTask;
    }
}
