@page "/User/Login"
@using JxAudio.Web.Components.Layout
@using JxAudio.Web.Vo
@layout EmptyLayout

@inject AjaxService AjaxService
@inject SwalService SwalService

<div class="container">
    <div class="row">
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <div class="login-item login-item-avatar">
                        <div class="text-center">
                            <Avatar Url="./Images/logo.png" IsCircle="true" Size="Size.ExtraExtraLarge" />
                            <h4 class="text-dark">JxAudio</h4>
                        </div>
                        <ValidateForm Model="@LoginVo" OnValidSubmit="DoLogin">
                            <BootstrapInput TValue="string" @bind-Value="LoginVo.UserName" ShowLabel="false" PlaceHolder="请输入账号" />
                            <BootstrapPassword ShowLabel="false" @bind-Value="LoginVo.Password" PlaceHolder="请输入密码" />
                            <Checkbox TValue="bool" ShowLabel="false" ShowAfterLabel="true" DisplayText="记住登录状态" />
                            <Button Text="登录" Color="Color.Primary" ButtonType="ButtonType.Submit"></Button>
                        </ValidateForm>
                    </div>
                </BodyTemplate>
            </Card>
        </div>
    </div>
</div>


@code {
    private LoginVo LoginVo { get; set; } = new();

    private async Task DoLogin(EditContext arg)
    {
        var document = await AjaxService.InvokeAsync(new AjaxOption()
        {
            Url = "/api/User/Login",
            Data = LoginVo
        });
        
        if (document?.RootElement.GetProperty("code").GetInt32() == 200)
        {
            await AjaxService.Goto("/");
        }
        else
        {
            await SwalService.Show(new SwalOption()
            {
                Category = SwalCategory.Error,
                Content = document?.RootElement.GetProperty("message").GetString() ?? "系统异常",
                Title = "登录失败"
            });
        }
    }

}