<div class="d-flex flex-column align-items-stretch w-100" style="height: 5rem">
    <input type="range"  class="progress-slider" style="background: linear-gradient(to right, #4CAF50 0%, #4CAF50 50%, #ddd 50%, #ddd 100%)">
</div>

@code {
    
}