
.progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.progress-slider::-moz-range-thumb {
    appearance: none; /* Firefox */
}

.progress-slider::-ms-thumb {
    appearance: none; /* IE and older versions of Edge */
}

/* 其他滑块样式 */
.progress-slider {
    -webkit-appearance: none; /* Chrome, Safari, newer versions of Edge */
    width: 100%;
    height: 4px;
    background: transparent; /* 设置为透明以显示 ::before 伪元素的颜色 */
    border: none; /* 可以移除边框 */
    padding: 0; /* 可以移除内边距 */
    cursor: pointer;
}

.flex-1 {
    flex: 1 1 0%;
}

.w-11 {
    width: 2.75rem; /* 假设 11 是基于 0.25rem 递增的 */
}

.h-11 {
    height: 2.75rem; /* 同上 */
}

.text-xs {
    font-size: 0.75rem; /* 或者你希望的任何尺寸 */
}

.w-52 {
    width: 13rem;
}

.gap-x-2-5 {
    gap: 0.625rem; /* Tailwind 的 gap-x-2.5 对应的值 */
}

.gap-x-3 {
    gap: 0.75rem;
}