@using BootstrapBlazor.Components
@typeparam TItem

<Table TItem="TItem" IsBordered="true" IsStriped="true" TableColumns="TableColumns" ShowToolbar="@ShowToolbar"
       ShowExtendButtons="@ShowExtendButtons" IsPagination="true" PageItemsSource="new []{10, 30, 50}"
       
       OnQueryAsync="OnQueryAsync"></Table>
