@page "/Album"

<PageTitle>专辑</PageTitle>

<div class="row g-3 form-inline" style="--bb-row-label-width: 80px">
    <div class="col-4">
        <BootstrapInput TValue="string" PlaceHolder="搜索" ShowLabel="true" DisplayText="搜索"></BootstrapInput>
    </div>
</div>

<ListView TItem="Album"></ListView>


@code {
    
}