@page "/Album/{id:int?}"
@inject NavigationManager NavigationManager

<Card>
    <BodyTemplate>
        <div class="row">
            <div class="col-3">
                <img alt="cover" src="/api/Cover?coverId=1"/>
            </div>
            <div class="col-9">
                111
            </div>
        </div>
    </BodyTemplate>
</Card>

@code {
    [Parameter]
    public int? Id { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Id == null)
        {
            NavigationManager.NavigateTo("/Albums");
            return;
        }
    }

}