@page "/Album/{id:int?}"
@using JxAudio.TransVo
@inject NavigationManager NavigationManager
@inject HttpClient Http

<Card>
    <BodyTemplate>
        <div class="row">
            <div class="col-xs-5 col-md-3 col-sm-4 col-lg-2">
                <img alt="cover" src="/api/Cover?coverId=@_album?.CoverId" class="w-100 h-100" />
            </div>
            <div class="col-md-9 col-xs-7 col-sm-8 col-lg-10">
                <div class="row">
                    <div class="col-12">
                        <h1>@_album?.Title</h1>
                    </div>
                    <div class="col-12">
                        <h3>@if (_album?.Artist == null)
                            {
                                @:未知歌手
                            }
                            else
                            {
                                <a href="/Artist/@_album.Artist.Id">@_album.Artist.Name</a> @:&nbsp;
                            }</h3>
                        
                    </div>
                </div>
                 
            </div>
        </div>
    </BodyTemplate>
</Card>
<br />
<div class="g-3">
    <TrackTable Tracks="_tracks"></TrackTable>
</div>


@code {
    [Parameter]
    public int? Id { get; set; }

    private AlbumVo? _album;

    private List<TrackVo>? _tracks;


    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo("/Albums");
            return;
        }

        _album = await Http.GetFromJsonAsync<AlbumVo>($"/api/Album/?id={Id}");
        if (_album == null)
        {
            NavigationManager.NavigateTo("/Albums");
            return;
        }
        
        _tracks = await Http.GetFromJsonAsync<List<TrackVo>>($"/api/Album/AllTracks?albumId={Id}");
    }

}