@page "/Album/{id:int?}"
@using JxAudio.TransVo
@inject NavigationManager NavigationManager
@inject HttpClient Http

<Card>
    <BodyTemplate>
        <div class="row">
            <div class="col-md-1 col-sm-3">
                <img alt="cover" src="/api/Cover?coverId=@_album?.CoverId" class="w-11 h-11" />
            </div>
            <div class="col-9">
                @_album?.Title
            </div>
        </div>
    </BodyTemplate>
</Card>

@code {
    [Parameter]
    public int? Id { get; set; }

    private AlbumVo? _album;


    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo("/Albums");
            return;
        }

        _album = await Http.GetFromJsonAsync<AlbumVo>($"/api/Album/AllTracks?albumId={Id}");
        if (_album == null)
        {
            NavigationManager.NavigateTo("/Albums");
            return;
        }
    }

}