@page "/Artist/{id:int?}"
@using JxAudio.TransVo
@using Microsoft.Extensions.Localization
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IStringLocalizer<Artist> StringLocalizer

<PageTitle>@StringLocalizer["Title"] @_artist?.Name - JxAudio</PageTitle>

<Card>
    <BodyTemplate>
        <div class="row">
            <div class="col-xs-5 col-md-3 col-sm-4 col-lg-2">
                <img alt="cover" src="/api/Artist/Avatar?id=@_artist?.CoverId" style="width: 100%;height: auto" />
            </div>
            <div class="col-md-9 col-xs-7 col-sm-8 col-lg-10">
                <div class="row">
                    <div class="col-12">
                        <h1>@_artist?.Name</h1>
                    </div>
                    <div class="col-1">
                        <Button Color="Color.None" style="color: red" OnClick="Star">
                            <IconPark.Like Size="18" StrokeWidth="3" Theme="@(_artist?.Star == true ? IconPark.ThemeType.Filled : IconPark.ThemeType.Outline)"></IconPark.Like>
                        </Button>
                    </div>
                </div>
            </div>
        </div>
    </BodyTemplate>
</Card>
<br />
<div class="g-3">
    <TrackTable Tracks="_tracks"></TrackTable>
</div>

@code {
    [Parameter]
    public int? Id { get; set; }

    private ArtistVo? _artist;

    private List<TrackVo>? _tracks;
    
    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo("/Artists");
            return;
        }

        _artist = await Http.GetFromJsonAsync<ArtistVo>($"/api/Artist/?id={Id}");
        if (_artist == null)
        {
            NavigationManager.NavigateTo("/Artists");
            return;
        }
        
        _tracks = await Http.GetFromJsonAsync<List<TrackVo>>($"/api/Artist/AllTracks?id={Id}");
    }

    private async Task Star()
    {
        if (_artist == null)
        {
            return;
        }
        
        if (_artist.Star)
        {
            if (await Http.GetStringAsync("/api/Artist/UnStar?id=" + _artist.Id) == "s")
            {
                _artist.Star = false;
            
            }
        }
        else
        {
            if (await Http.GetStringAsync("/api/Artist/Star?id=" + _artist.Id) == "s")
            {
                _artist.Star = true;
            }
        }
    }

}