@using JxAudio.TransVo

<ListGroup TItem="TrackVo" Items="TrackVos" Value="SelectedTrack" ValueChanged="SelectedTrackChanged"
           GetItemDisplayText="GetItemDisplayText" style="height: 20rem;min-width: 300px">
    <HeaderTemplate>
        <div class="list-group-header">
            <div class="flex-fill">播放列表</div>
            <Button Color="Color.Danger" Icon="fa fa-plus" Size="Size.ExtraSmall">生成歌单</Button>
        </div>
    </HeaderTemplate>
</ListGroup>

@code {
    [Parameter]
    public List<TrackVo>? TrackVos { get; set; }

    [Parameter]
    public TrackVo? SelectedTrack { get; set; }

    [Parameter]
    public EventCallback<TrackVo> SelectedTrackChanged { get; set; }

    private string GetItemDisplayText(TrackVo arg)
    {
        return $"{(arg.Title ?? "未知歌曲")} - {(arg.ArtistName ?? "未知歌手")}";
    }

}